### Gradle ###
.gradle
**/build/
!/gradle/wrapper/gradle-wrapper.jar

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/sonarlint
# Gradle:
.idea/**/gradle.xml
.idea/**/libraries


# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

### IntelliJ IDEA ###
*.iml
*.ipr
.persist-db/
!/.idea/codeStyleSettings.xml
!/.idea/checkstyle-idea.xml
/.idea/inspectionProfiles/
/.idea/libraries/
/.idea/modules/
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/workspace.xml
/.idea/uiDesigner.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/dbnavigator.xml
/.idea/compiler.xml
/nginx.tmpl/
/docker/app/monitorservice-*
/gradle.properties
/.idea/dictionaries/
/.idea/.name
!/.idea/saveactions_settings.xml

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Ruby plugin and RubyMine
/.rakeTasks

### Java ###
# Compiled class file
*.class

# Log file
*.log

### Java-Web ###
## ignoring target file
target/
